/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*===============================================
    BEGIN AUTHOR STYLING
  =============================================== */

  /** {
    outline: pink solid 1px;
  }*/

  @font-face {
    font-family: 'outliersregular';
    src: url('../fonts/myfirsttypeface-webfont.eot');
    src: url('../fonts/myfirsttypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myfirsttypeface-webfont.woff2') format('woff2'),
         url('../fonts/myfirsttypeface-webfont.woff') format('woff'),
         url('../fonts/myfirsttypeface-webfont.ttf') format('truetype'),
         url('../fonts/myfirsttypeface-webfont.svg#outliersregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/*=====================================
  DEFINING CONTAINER
======================================= */
  textarea:focus, input:focus{
    outline: 0;
  }

  *:focus {
    outline: 0;
  }

  #wrap{
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: #000;
  }
   
  #scroll-proxy {
      height: 2400px;
  }
   
  #container{
      height: 540px;
      width: 900px;
      position: relative;
      top: 50%;
      margin: -270px auto;
  }

  #environment{
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;

    -webkit-perspective-origin: center 375px;
    -moz-perspective-origin: center 375px;
    -ms-perspective-origin: center 375px;
    -o-perspective-origin: center 375px;

    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -o-transform: perspective(400px);

    width: 100%;
    height: 540px;
  }

  #content{
    -webkit-transform-style: preserve-3D;
    -moz-transform-style: preserve-3D;
    -ms-transform-style: preserve-3D;
    -o-transform-style: preserve-3D;
    width: 100%;
    height: 100%;
    top: 20px;
    position: absolute;
  }

/*=====================================
  HEADER /// FOOTER
======================================= */
  .header {
    /* Positioning */ 
    /* Box-model */
    width: 100%;
    height: 2%;
    /* Typography */
    /* Visual */
    /* Misc */
  }

  /*================
   SPINNER
  ================== */

  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

  .about {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .about {
    /* Positioning */
    float: right;
    position: relative;
    right: 0px;
    /* Box-model */
    /* Typography */
    font-family: 'PalanquinDark-Regular';
    letter-spacing: 4px;
    font-size: 26px;
    /* Visual */
    color: #FFF;
    text-decoration: none;
    z-index: 30;
    /* Misc */
  }

  /*================
   END SPINNER
  ================== */

  .footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
  }

  .hanatarash {
    position: relative;
  }

  #scroll-space {
  position: absolute;
  bottom: 3px;
  left: 175px;
  width: 300px;
  height: 40px;
}

#scroll-space .line:nth-of-type(2) {
  transform: rotate(90deg);
  margin-left:130px;
}

#scroll-space .line:nth-of-type(4) {
  transform: rotate(270deg);
  margin-left:-130px;
}

#scroll-space .line i {
  animation: move 15s infinite linear, blink2 6s infinite;
}


  #instruction {
    position: absolute;
    bottom: 2px;
    left: 180px;
    padding: 14px;
    font-family: 'PalanquinDark-Regular';
    letter-spacing: 1px;
    font-size: 14px;
    color: #FFF;
    border: 2px dashed #FFF;
  }

/*=====================================
  FOUND IN CONTENT
======================================= */

  section{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  #marqueecontainer{
    /* Positioning */
    position: relative;
    top: 10%;
    /* Box-model */
    width: 500px; /*marquee width */
    height: 300px; /*marquee height */
    padding: 2px;
    padding-left: 4px;
    margin: 0 auto;
    /* Typography */
    /* Visual */
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    border: 3px inset #FFF;
    z-index: 10;
    /* Misc */
  }
  
  #video {
    /* Positioning */
    position: absolute;
    top: 5%;
    left: 25%;
    -webkit-transform: translate3d(0, 0, -30px);
    -moz-transform: translate3d(0, 0, -30px);
    -ms-transform: translate3d(0, 0, -30px);
    -o-transform: translate3d(0, 0, -30px);
    /* Box-model */
    /* Typography */
    /* Visual */
    z-index: 5;
    /* Misc */
  }

  p {
    font-family: 'outliersregular';
    font-size: 50px;
    line-height: 35px;
    color: #FFF;
  }
  
  
  #img {
    /* Positioning */
    position: absolute;
    top: 15%;
    left: 20%;
    -webkit-transform: translate3d(0, 0, -50px);
    -moz-transform: translate3d(0, 0, -50px);
    -ms-transform: translate3d(0, 0, -50px);
    -o-transform: translate3d(0, 0, -50px);
    /* Box-model */
    /* Typography */
    /* Visual */
    z-index: 1;
    /* Misc */
  }

  #imgur {
    width: 500px;
    height: 350px;
    overflow: auto;
  }

/*=====================================
  INFO POPOUT
======================================= */

#info-container {
  width: 99%;
  height: 93%;
  border: 5px solid #FFF;
  background: black;
}

#info-body,
#info-footer {
  /* Positioning */
  /* Box-model */
  height: 100%;
  /* Typography */
  /* Visual */
  /* Misc */

}

.value-left {
  /* Positioning */
  float: left;
  position: absolute;
  left: 3%;
  top: 7%;
  /* Box-model */
  height: 40%;
  width: 45%;
  /* Typography */
  /* Visual */
  /* Misc */
}

.key-left {
  /* Positioning */
  float: left;
  position: absolute;
  left: 3%;
  top: 40%;
  /* Box-model */
  padding-left: 30px;
  height: 40%;
  width: 45%;
  overflow: hidden;
  /* Typography */
  /* Visual */
  /* Misc */
}

.key-left:hover {
  overflow: scroll;
}

.arrow {
  /* Positioning */
  position: fixed;
  /* Box-model */
  height: 23%;
  width: auto;
  margin-left: 22%;
  margin-top: 2.5%;
  /* Typography */
  /* Visual */
  /* Misc */
}

.value-left p,
.key-left p {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: 'PalanquinDark-Regular';
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 14px;
  /* Visual */
  /* Misc */
}

#array-heading {
  position: fixed;
  padding-right: 50px;
  margin-left: -30px;
  background-color: #000;
}

.code-right {
  /* Positioning */
  float: right;
  position: absolute;
  right: 3%;
  top: 7%;
  /* Box-model */
  overflow-y: scroll;
  height: 80%;
  width: 45%;
  /* Typography */
  /* Visual */
  /* Misc */

}

.code-right p {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: 'SourceCodePro-ExtraLight';
  letter-spacing: 1px;
  line-height: 14px;
  font-size: 12px;
  word-wrap: break-word;
  /* Visual */
  /* Misc */
}

#tab1{
  position: relative;
  left: 30px;
}

#tab2{
  position: relative;
  left: 60px;
}

.rotate {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 200px;
  height: 40px;
  overflow: hidden;
  color: #FFF;
  animation: blink 1s step-end infinite alternate;
}

.rotate .line {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.rotate .line:nth-of-type(1) {
  transform: rotate(0deg);
}
.rotate .line:nth-of-type(2) {
  transform: rotate(90deg);
  margin-left:80px;
}
.rotate .line:nth-of-type(3) {
  transform: rotate(180deg);
}
.rotate .line:nth-of-type(4) {
  transform: rotate(270deg);
  margin-left:-80px;
}
.rotate .line i {
  left: 0;
  top: 0;
  width: 214%;
  display: block;
  position: absolute;
  border-bottom: 2px dashed;
  animation: move 15s infinite linear, blink 1.75s infinite linear;
}
.rotate .text {
  padding-top: 12px;
  text-align: center;
  font-family: 'PalanquinDark-Regular';
  letter-spacing: 1px;
  font-size: 14px;
  color: #FFF; 
}

@keyframes blink { 
  0% { border-color: rgba(255,255,255,1); }
  50% { border-color: rgba(255,255,255,0); }
  100% { border-color: rgba(255,255,255,1); } 
}

@keyframes blink2 { 
  0% { border-color: rgba(255,255,255,1); }
  50% { border-color: rgba(255,255,255,0.5); }
  100% { border-color: rgba(255,255,255,1); } 
}

@keyframes move {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
  