/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*===============================================
    BEGIN AUTHOR STYLING
  =============================================== */

  /** {
    outline: pink solid 1px;
  }*/

  @font-face {
    font-family: 'outliersregular';
    src: url('../fonts/myfirsttypeface-webfont.eot');
    src: url('../fonts/myfirsttypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myfirsttypeface-webfont.woff2') format('woff2'),
         url('../fonts/myfirsttypeface-webfont.woff') format('woff'),
         url('../fonts/myfirsttypeface-webfont.ttf') format('truetype'),
         url('../fonts/myfirsttypeface-webfont.svg#outliersregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/*=====================================
  DEFINING CONTAINER
======================================= */

  #wrap{
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: #000;
  }
   
  #scroll-proxy {
      height: 2400px;
  }
   
  #container{
      height: 540px;
      width: 900px;
      position: relative;
      top: 50%;
      margin: -270px auto;
  }

  #environment{
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;

    -webkit-perspective-origin: center 375px;
    -moz-perspective-origin: center 375px;
    -ms-perspective-origin: center 375px;
    -o-perspective-origin: center 375px;

    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -o-transform: perspective(400px);

    width: 100%;
    height: 540px;
  }

  #content{
    -webkit-transform-style: preserve-3D;
    -moz-transform-style: preserve-3D;
    -ms-transform-style: preserve-3D;
    -o-transform-style: preserve-3D;
    width: 100%;
    height: 100%;
    top: 20px;
    position: absolute;
  }

/*=====================================
  HEADER /// FOOTER
======================================= */
  .header {
    /* Positioning */ 
    /* Box-model */
    width: 100%;
    height: 2%;
    /* Typography */
    /* Visual */
    /* Misc */
  }

  .about {
    /* Positioning */
    float: right;
    position: relative;
    right: 0;
    /* Box-model */
    overflow: auto;
    /* Typography */
    /* Visual */
    color: #FFF;
    text-decoration: none;
    z-index: 30;
    /* Misc */
  }

  .footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
  }

  .hanatarash {
    position: relative;
  }

  #instruction {
    color: #FFF;
  }

/*=====================================
  FOUND IN CONTENT
======================================= */

  section{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  #marqueecontainer{
    /* Positioning */
    position: relative;
    /* Box-model */
    width: 500px; /*marquee width */
    height: 300px; /*marquee height */
    padding: 2px;
    padding-left: 4px;
    /* Typography */
    /* Visual */
    background-color: white;
    overflow: hidden;
    border: 3px solid orange;
    /* Misc */
  }
  
  #video {
    /* Positioning */
    -webkit-transform: translate3d(0, 0, -1000px);
    -moz-transform: translate3d(0, 0, -1000px);
    -ms-transform: translate3d(0, 0, -1000px);
    -o-transform: translate3d(0, 0, -1000px);
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */
  }

  p {
    font-family: 'outliersregular';
    font-size: 50px;
    line-height: 35px;
  }
  
  
  #img {
    /* Positioning */
    -webkit-transform: translate3d(0, 0, -2000px);
    -moz-transform: translate3d(0, 0, -2000px);
    -ms-transform: translate3d(0, 0, -2000px);
    -o-transform: translate3d(0, 0, -2000px);
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */
  }
  