/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*===============================================
    BEGIN AUTHOR STYLING
  =============================================== */

.header {
  /* Positioning */
  position: fixed;
  top: 0;
  /* Box-model */
  width: 100%;
  height: 20%;
  /* Typography */
  /* Visual */
  z-index: 10;
  /* Misc */
}

#question {
  /* Positioning */
  position: fixed;
  top: 5%;
  right: 5%;
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
}

#marqueecontainer{

  /* Positioning */
  position: relative;
  /* Box-model */
  width: 400px; /*marquee width */
  height: 350px; /*marquee height */
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  padding-left: 4px;
  overflow: hidden;
  /* Typography */
  /* Visual */
  background-color: white;
  border: 3px solid orange;
  z-index: 10;
  /* Misc */
  
}

.video {
  /* Positioning */
  position: absolute;
  top: 10%;
  left: 25%;
  /* Box-model */
  /* Typography */
  /* Visual */
  z-index: 4;
  /* Misc */
}


.image {
  /* Positioning */
  position: absolute;
  top: 25%;
  left: 40%;
  /* Box-model */
  /* Typography */
  /* Visual */
  z-index: 4;
  /* Misc */
}

.footer {
  /* Positioning */
  position: fixed;
  bottom: 0;
  /* Box-model */
  width: 100%;
  height: 20%;
  /* Typography */
  /* Visual */
  z-index: 10;
  /* Misc */
}

.hanatarash {
  /* Positioning */
  float: right;
  /* Box-model */
  padding-right: 5%;
  /* Typography */
  /* Visual */
  z-index: 10;
  /* Misc */
}

.instructions {
  /* Positioning */
  position: absolute;
  bottom: 10%;
  right: 5%;
  /* Box-model */
  /* Typography */
  /* Visual */
  z-index: 10;
  /* Misc */
}